body {
  background-color: rgb(253, 251, 251);
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  color: blueviolet;
  text-align: justify;
}

td {
  text-align: center;
}

table {
  margin-top: 20px;
}

.main_container {
  max-width: 440px;
  height: 250px;
}

.lado-esquerdo {
  position: relative;
}

.lado-direito {
  position: absolute;
  right: 10px;
  top: 685px;
  max-width: 200px;
}

.listas {
  height: 230px;
  line-height: 1.2;
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  background-color: green;
  padding: 10px;
  border-radius: 1.5%;
  color: azure;
  font-size: 12px;
}

#minha_foto {
  max-width: 300px;
  margin-top: 110px;
  border: 2px solid green;
}

#licoes_aprendidas {
  float: left;
  position: relative;
}

#licoes_a_aprender {
  position: absolute;
  left: 380px;
}

a {
  display: block;
  margin-top: 10px;
  text-align: center;
}
